<!DOCTYPE html>
<!--
  Hi Organic team! I see you are checking out my source code. If you think I'm this talented to build this webpage by scratch, then that's very flattering. I actually just got this off of Github and redesigned it for the sake of this project! Hope you enjoy!
-->
<html>

  {% include head.html %}

  <body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>
