<!DOCTYPE html>
<!--
Hi

________  ________  ________  ________  ________   ___  ________
|\   __  \|\   __  \|\   ____\|\   __  \|\   ___  \|\  \|\   ____\
\ \  \|\  \ \  \|\  \ \  \___|\ \  \|\  \ \  \\ \  \ \  \ \  \___|
\ \  \\\  \ \   _  _\ \  \  __\ \   __  \ \  \\ \  \ \  \ \  \
 \ \  \\\  \ \  \\  \\ \  \|\  \ \  \ \  \ \  \\ \  \ \  \ \  \____
  \ \_______\ \__\\ _\\ \_______\ \__\ \__\ \__\\ \__\ \__\ \_______\
   \|_______|\|__|\|__|\|_______|\|__|\|__|\|__| \|__|\|__|\|_______|



team! I see you are checking out my source code.
If you think I'm this talented to build this webpage from scratch,
then that's very flattering. I actually just got this off of Github
and redesigned it for the sake of this project! Hope you enjoy!
-->
<html>

  {% include head.html %}

  <body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>
